extends template.pug

append head
  link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    
block title
  =concert + " Control Panel"

block content
  form.form-group
    label(for="password") Password for control
    input#password.form-control(type=text,autocomplete='off')

  .container.controlpanel(style="display:none")
    #controls
      #states
        h2 States
        .list-group
          each state, index in otherStates
            a.list-group-item-action.list-group-item.list-group-item-primary(data-selector=`state-${index}` , href="#")= state.controls
      
      #pieces
        h2 Pieces
        .list-group
          each piece, index in pieces
            a.list-group-item.list-group-item-action.list-group-item-secondary(href="#", data-selector=`piece-${index}`)= `${piece.title}: ${piece.composer}`
      
      #committee
        h2 Committee
        .list-group
          a.list-group-item.list-group-item-action.list-group-item-primary(href="#", data-selector=`conductor` )= `${conductor} (Conductor)`
          each person, index in committee
            a.list-group-item.list-group-item-action.list-group-item-primary(href="#", data-selector=`committee-${index}` )= `${person} (${index})`
      
    #toggles
      #charity
        h2 Charity Banner
        .list-group
          a.list-group-item.list-group-item-action.list-group-item-primary(href="#", data-charity="true") Show
          a.list-group-item.list-group-item-action.list-group-item-primary(href="#", data-charity="false") Hide    
append scripts
  script(src='/scripts/control-panel.js')
