extends template

block title
  =concert

block fblink
  .fb-video(data-href=fblink, data-width='auto', data-show-text='false')


append header
  h2= group

block content
  if description
    #introduction
      h1= `Note from the President (${committee.president})`
      each paragraph in description
        p= paragraph  
  
  #conductor
    h1= `${conductor.name} (Musical Director)`
    if conductor.description
      each paragraph in conductor.description
        p= paragraph
        
        
  #performers
    h1 Performers
    each part, index in performers
      div.part
        span#partname=index
        .part-list
          - part.sort()
          each person in part
            span.name=person
  
  #pieces
    h1 Running Order
    each piece, index in pieces
      .piece(data-piece=`piece-${index}`)
        if piece.subtitle
          h1=`${piece.title} (${piece.subtitle})`
        else
          h1=`${piece.title}`
          
        if piece.composer && piece.arranger
          h2=`${piece.composer} arr. ${piece.arranger}`
        else if piece.composer
          h2=`${piece.composer}`
        else if piece.arranger
          h2=`arr. ${piece.arranger}`
          
        if piece.description
          .description
            each part in piece.description
              p= part
