extends template

block title
  =concert


append header
  h2= group

block content
  #pieces.pieces
    h1 Running Order
    each piece, index in pieces
      .piece(data-piece=`piece-${index}`)
        if piece.type == 'piece'
          if piece.subtitle
            h1=`${piece.title} (${piece.subtitle})`
          else
            h1=`${piece.title}`
            
          if piece.composer && piece.arranger
            h2=`${piece.composer} arr. ${piece.arranger}`
          else if piece.composer
            h2=`${piece.composer}`
          else if piece.arranger
            h2=`arr. ${piece.arranger}`
            
          if piece.description
            .description
              each part in piece.description
                p= part
        else
          h1=piece.stream

  if fbvideo
    include partials/fbvideo.pug
        
  #performers.performers
    h2 Performers
    each partobj in [...performers.entries()]
      - const [index, part] = partobj
      div.part
        span#partname=index
        .part-list
          - part.sort((a, b) => a.split(' ')[1].localeCompare(b.split(' ')[1]))
          each person in part
            span.name=person
  
  #charity.charity-note
    if charity
      h2=`Charity`

      - const charityString = !Array.isArray(charity) ? `With this concert, we are raising money for the charity ${charity.name} (registered Scottish charity ${charity.registrationNumber}).` : `With this concert, we are raising money for the charities ${charity.map(char => `${char.name} (registered Scottish charity ${char.registrationNumber})`).join(' and ')}.`
      p=charityString
      p Please consider making a donation to them or a similar charity in your area!

  if description
    #introduction.president-note
      h2= `Note from the President`
      each paragraph in description
        p= paragraph  
      p=committee.get('president')
  
  #conductor.md-note
    if conductor.description
      h2= `${conductor.name} (${conductor.title})`
      each paragraph in conductor.description
        p= paragraph
    else
      h2=conductor.title
      h3=conductor.name