extends template

block title
  =concert

block fbvideo
  if fbvideo
    div.video
      iframe(src=fbvideo, style='', scrolling='no', allowtransparency='true', allowfullscreen='true', width='400', height='400', frameborder='0')



append header
  h2= group

block content
  h1 Programme
  if description
    #introduction
      h2= `Note from the President (${committee.president})`
      each paragraph in description
        p= paragraph  
  
  #conductor
    if conductor.description
      h2= `${conductor.name} (${conductor.title})`
      each paragraph in conductor.description
        p= paragraph
    else
      h2=conductor.title
      h3=conductor.name
        
  #performers
    h2 Performers
    each part, index in performers
      div.part
        span#partname=index
        .part-list
          - part.sort((a, b) => a.split(' ')[1] > b.split(' ')[1])
          each person in part
            span.name=person
  
  #charity
    if charity
      h2=`Charity`
      p
        | With this concert, we are raising money for the charity 
        = `${charity.name} `
        | (registered Scottish charity
        = " " + charity.registration_number
        | ). Please consider making a donation to them or a similar charity in your area; more details can be found at 
        a(href=charity.url)= charity.url
        | !
  
  #pieces
    h1 Running Order
    each piece, index in pieces
      .piece(data-piece=`piece-${index}`)
        if piece.subtitle
          h1=`${piece.title} (${piece.subtitle})`
        else
          h1=`${piece.title}`
          
        if piece.composer && piece.arranger
          h2=`${piece.composer} arr. ${piece.arranger}`
        else if piece.composer
          h2=`${piece.composer}`
        else if piece.arranger
          h2=`arr. ${piece.arranger}`
          
        if piece.description
          .description
            each part in piece.description
              p= part
