extends template

block title
  =concert

append header
  h2= group

block content
  #introduction
    p= description
  #charity
    p= `We are raising money at the interval of this concert for ${charity.name} (${charity['registration number']}), a charity which aims to provide support for people with complex communication needs, to assist their families and carers, and to raise awareness of issues surrounding deafblindness in society.`
    p.
      Their website is #[a(href=charity.url)= charity.url] where a direct donation can be made.
  #performers
    h1 Performers
    each part, index in performers
      span.part=index
      .part-list
        each person in part
          span.name=person
  
  #pieces
    h1 Running Order
    each piece, index in pieces
      .piece(data-piece=`piece-${index}`)
        if piece.subtitle
          h1=`${piece.title} (${piece.subtitle})`
        else
          h1=`${piece.title}`
          
        if piece.composer && piece.arranger
          h2=`${piece.composer} arr. ${piece.arranger}`
        else if piece.composer
          h2=`${piece.composer}`
        else if piece.arranger
          h2=`arr. ${piece.arranger}`
        .description
          if piece.description
            each part in piece.description
              p= part
          
append scripts
  script(src='/scripts/index.js')
