doctype html
html(lang='en')
  head
    block head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      link(rel='stylesheet', href="css/overlay.css")
      meta(name='viewport', content='width=1920px, initial-scale=1, shrink-to-fit=no')
      title= concert + " overlay"

  body
    #omnibar
      #logo
      .central-item
        #nowplaying.vstack.hidden
          span#title
          span#composer
        #other-states
        
      .vstack
        span#concert-title= concert
        span#conductor= conductor.name
          
    block scripts 
      script(src="scripts/omnibar-bundle.js")
